<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ino.web.freeBoard.mapper.FreeBoardMapper">


	<select id="freeBoardGetList" resultType="freeBoardDto" > <!-- resultType="ino.web.board.dto.BoardDto" -->
		SELECT decode(CODE_TYPE ,'01','자유','02','익명','03','QnA') as codeType, NUM, NAME, TITLE, CONTENT, TO_CHAR(REGDATE , 'YYYY/MM/DD') AS REGDATE FROM FREEBOARD
		ORDER BY NUM DESC
	</select>
	
	<select id="codeSelect" resultType="Map">
		SELECT FK.CODE,FK.CODE_NAME CODENAME FROM CODEM PK,CODED FK
		WHERE PK.GR_CODE = FK.GR_CODE
		AND PK.GR_CODE = 'GR001'
		AND PK.USE_YN = 'Y'
		AND FK.USE_YN = 'Y'
	</select>

	<select id="typeSelect" resultType="Map">
		SELECT FK.CODE CODE,FK.CODE_NAME CODENAME FROM CODEM PK,CODED FK
		WHERE PK.GR_CODE = FK.GR_CODE
		AND PK.GR_CODE = 'GR002'
		AND PK.USE_YN = 'Y'
		AND FK.USE_YN = 'Y'
	</select>

	<insert id="freeBoardInsertPro" parameterType="Map">
		INSERT INTO FREEBOARD(CODE_TYPE, NUM, TITLE, NAME, REGDATE, CONTENT)
		VALUES( #{codeType}, UPPER.NEXTVAL, #{title}, #{name}, SYSDATE, #{content})
	</insert>

	<select id="freeBoardDetailByNum" resultType="Map" parameterType="int">
		SELECT CODE_TYPE as codeType, NUM, TITLE, NAME, TO_CHAR(REGDATE,'YYYY/MM/DD') REGDATE, CONTENT FROM FREEBOARD
		WHERE NUM=#{num}
	</select>

	<select id="freeBoardNewNum" resultType="int">
		SELECT MAX(NUM)
		FROM FREEBOARD
	</select>

	<update id="freeBoardModify" parameterType="Map">
		UPDATE FREEBOARD
		SET TITLE = #{title}
				, CONTENT = #{content}
		WHERE NUM = #{num}

	</update>

	<update id="freeBoardDelete" parameterType="int">
		DELETE FROM FREEBOARD
		WHERE NUM
		= #{num}

	</update>


</mapper>